asgiref==3.10.0
distlib==0.4.0
dj-database-url==3.1.0
Django==5.2.7
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.20.1
gunicorn==24.1.1
packaging==26.0
platformdirs==4.5.1
psycopg2-binary==2.9.11
py4j==0.10.9.9
PyJWT==2.10.1
pyspark==4.0.1
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.35.4
whitenoise==6.11.0
